@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
